<div
  style="
    max-width: 37.5em;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #fc9c3c;
    padding: 20px;
    text-align: center;
  "
>
  <img
    src="cid:logo"
    alt="ODC"
    height="100px"
    style="display: block; margin-left: auto; margin-right: auto"
  />
  <h4>Hello %FIRST_NAME%,</h4>
  <p>Please use the verification code below to change your password</p>
  <div style="width: 200px; margin: 0 auto">
    <h2
      style="
        text-align: center;
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 10px;
      "
    >
      %RESET_CODE%
    </h2>
  </div>
  <p>the code expires in 1 minutes</p>
  <p>
    Regards, <br />
    <strong>Orange Digital Center</strong>
  </p>
</div>
